In [12]:
import numpy as np
import pandas as pd

input_file = "train.csv"
df_train = pd.read_csv(input_file, header=None)

C:\Users\xmflr\AppData\Local\Temp\ipykernel_6576\2456368213.py:5: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv(input_file, header=None)

In [13]:
df_train.shape

(7353, 563)

## 데이터 셔플

In [14]:
import pandas as pd
from sklearn.utils import shuffle

# Assuming your data is stored in a DataFrame called df
# (replace df with the actual variable name of your DataFrame)

df_train = df_train[1:]


# Shuffle the DataFrame
df = shuffle(df_train)

# Separate the features (X) and labels (y)
X_train = df.iloc[:, 1:-2]  # Exclude the last two columns (subject and Activity) as they are labels
y_train = df.iloc[:, -1]   # The last column (Activity) is the label

# Optionally, you can also include the 'subject' column as a feature if needed
# X_train = df.iloc[:, :-2]  # Exclude the last column (Activity) as it is a label

# Print the shape of the training set
print("Training set shape:", X_train.shape, y_train.shape)

Training set shape: (7352, 560) (7352,)

In [15]:
X_train.describe()

,1,2,3,4,5,6,7,8,9,10,...,551,552,553,554,555,556,557,558,559,560
count,7352.000000,7352.00000,7352.000000,7352.000000,7352.000000,7352.00000,7352.000000,7352,7352.000000,7352.000000,...,7352.000000,7352.00000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000
unique,7352.000000,7349.00000,7349.000000,7351.000000,7350.000000,7348.00000,7352.000000,7351,5220.000000,5205.000000,...,7352.000000,7351.00000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000
top,-0.019454,-0.10806,-0.990648,-0.990443,-0.987961,-0.99777,-0.990498,-0.98635085,-0.936281,-0.551191,...,0.490387,-0.64499,-0.872434,0.075711,0.023265,-0.338918,0.466614,0.443592,-0.618193,-0.366661
freq,1.000000,2.00000,2.000000,2.000000,2.000000,2.00000,1.000000,2,4.000000,4.000000,...,1.000000,2.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
try :
  from sklearn.preprocessing import OneHotEncoder
  from sklearn.preprocessing import OrdinalEncoder
except ImportError:
  from future_encoders import OneHotEncoder 
  from future_encoders import OrdinalEncoder

In [17]:
ordinal_encoder = OrdinalEncoder()
y_train_2d = y_train.values.reshape(-1, 1)
y_train_One = ordinal_encoder.fit_transform(y_train_2d)
y_train_One = y_train_One.ravel()

In [18]:
cat_encoder = OneHotEncoder(sparse=False)
y_train_2d = y_train.values.reshape(-1, 1)
y_train_1hot = cat_encoder.fit_transform(y_train_2d)

C:\Users\xmflr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [19]:

from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)
knn_clf = KNeighborsClassifier(n_neighbors=2, weights='distance', metric='manhattan')
svm_clf = Pipeline([
    ("scaler", StandardScaler()),
    ("svm_clf", SVC(C=1, kernel='linear', probability=True, random_state=42))  # probability=True로 설정
])

voting_clf = VotingClassifier(
    estimators=[('rf', rf_clf), ('knn', knn_clf), ('svm', svm_clf)],
    voting='soft'  # 'soft'로 설정하여 각 모델의 예측 확률을 사용
)

In [20]:
from sklearn.model_selection import cross_val_score

In [21]:
result = cross_val_score(voting_clf, X_train, y_train_One, cv=10,scoring="accuracy", n_jobs=-1)
print(result)
print(result.mean())

[0.99184783 0.99184783 0.99591837 0.99047619 0.98911565 0.99319728
 0.99319728 0.99863946 0.99183673 0.99047619]
0.9926552795031057

# CV-10 Result

## Mean: 0.9938784753031648

In [22]:
X_train.shape

(7352, 560)