In [53]:
import numpy as np
import pandas as pd


input_file = "kc_house_data.csv"
df = pd.read_csv(input_file)

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [ ]:
from sklearn.utils import shuffle

df = shuffle(df)

In [ ]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5068,8929000380,20140805T000000,479990.0,3,2.50,2010,2386,2.0,0,0,...,8,1390,620,2014,0,98029,47.5525,-121.998,1690,1870
8777,5126310110,20140722T000000,540000.0,4,2.50,2600,9935,2.0,0,0,...,8,2600,0,2005,0,98059,47.4865,-122.142,2830,7620
2910,8677900123,20140612T000000,510000.0,3,1.75,1600,19200,1.0,0,0,...,7,1600,0,1967,0,98034,47.7202,-122.249,2010,14850
3918,9274201730,20140616T000000,825000.0,4,1.50,1890,6938,1.5,0,0,...,8,1890,0,1919,0,98116,47.5896,-122.389,1700,6250
519,1923069078,20140805T000000,890000.0,4,3.25,3180,194278,2.0,0,0,...,10,3180,0,2005,0,98059,47.4711,-122.084,2200,178160

In [ ]:
df = df.drop(["date"], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 5068 to 20002
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 3.5 MB

## 특성 추가"

In [ ]:
df['sqft_living*grade'] = df['sqft_living'] * df['grade']
df['sqft_living*sqft_above'] = df['sqft_living'] * df['sqft_above']
df['sqft_living*sqft_living15'] = df['sqft_living'] * df['sqft_living15']
df['sqft_living_sum_grade'] = df['sqft_living'] + df['grade']
df['sqft_living_sum_sqft_above'] = df['sqft_living'] + df['sqft_above']
df['sqft_living_sum_sqft_living15'] = df['sqft_living'] + df['sqft_living15']
df['sqft_living_sum_sqft_bathrooms'] = df['sqft_living'] + df['bathrooms']
df['sqft_living_sum_sqft_view'] = df['sqft_living'] + df['view']
df['total_rooms'] = df['bedrooms'] + df['bathrooms']
df['living_to_lot_ratio'] = df['sqft_living'] / df['sqft_lot']
df['total_area'] = df['sqft_living'] + df['sqft_lot'] + df['sqft_above'] + df['sqft_basement']
df['renovated'] = df['yr_renovated'].apply(lambda x: 0 if x == 0 else 1)
df['high_priced_area'] = df['zipcode'].apply(lambda x: 1 if x in [98001, 98002, 98003] else 0)
df['view_quality'] = df['waterfront'] * df['view']
df['total_rooms'] = df['bedrooms'] + df['bathrooms']
df['overall_condition'] = df['condition'] + df['grade']

# 결과 확인
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_living_sum_sqft_living15,sqft_living_sum_sqft_bathrooms,sqft_living_sum_sqft_view,total_rooms,living_to_lot_ratio,total_area,renovated,high_priced_area,view_quality,overall_condition
5068,8929000380,479990.0,3,2.50,2010,2386,2.0,0,0,3,...,3700,2012.50,2010,5.50,0.842414,6406,0,0,0,11
8777,5126310110,540000.0,4,2.50,2600,9935,2.0,0,0,3,...,5430,2602.50,2600,6.50,0.261701,15135,0,0,0,11
2910,8677900123,510000.0,3,1.75,1600,19200,1.0,0,0,4,...,3610,1601.75,1600,4.75,0.083333,22400,0,0,0,11
3918,9274201730,825000.0,4,1.50,1890,6938,1.5,0,0,3,...,3590,1891.50,1890,5.50,0.272413,10718,0,0,0,11
519,1923069078,890000.0,4,3.25,3180,194278,2.0,0,0,3,...,5380,3183.25,3180,7.25,0.016368,200638,0,0,0,13

In [ ]:
corr_matrix = df.corr()

In [ ]:
corr_matrix["price"].sort_values(ascending=False)

price                             1.000000
sqft_living*grade                 0.756279
sqft_living*sqft_living15         0.713117
sqft_living_sum_grade             0.702204
sqft_living_sum_sqft_view         0.702200
sqft_living                       0.702035
sqft_living_sum_sqft_bathrooms    0.702031
sqft_living*sqft_above            0.698087
sqft_living_sum_sqft_living15     0.694920
sqft_living_sum_sqft_above        0.677472
grade                             0.667434
overall_condition                 0.642192
sqft_above                        0.605567
sqft_living15                     0.585379
bathrooms                         0.525138
total_rooms                       0.466319
view                              0.397293
sqft_basement                     0.323816
bedrooms                          0.308350
lat                               0.307003
view_quality                      0.267084
waterfront                        0.266369
floors                            0.256794
yr_renovated                      0.126434
renovated                         0.126092
living_to_lot_ratio               0.123115
total_area                        0.119763
sqft_lot                          0.089661
sqft_lot15                        0.082447
yr_built                          0.054012
condition                         0.036362
long                              0.021626
id                               -0.016762
zipcode                          -0.053203
high_priced_area                 -0.145716
Name: price, dtype: float64

In [ ]:
housing_prepared = df.drop(["price"], axis=1)
housing_labels = df["price"].copy()

In [ ]:
housing_prepared.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_living_sum_sqft_living15,sqft_living_sum_sqft_bathrooms,sqft_living_sum_sqft_view,total_rooms,living_to_lot_ratio,total_area,renovated,high_priced_area,view_quality,overall_condition
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,...,4066.452228,2082.014494,2080.134040,5.485599,0.323745,1.926677e+04,0.042289,0.038912,0.028409,11.066303
std,2.876566e+09,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,...,1505.196008,919.022251,918.659293,1.482302,0.268565,4.177717e+04,0.201253,0.193389,0.329510,1.258508
min,1.000102e+06,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,...,1240.000000,290.000000,290.000000,0.000000,0.000610,2.013000e+03,0.000000,0.000000,0.000000,2.000000
25%,2.123049e+09,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,...,2960.000000,1429.500000,1427.000000,4.500000,0.156581,8.800000e+03,0.000000,0.000000,0.000000,10.000000
50%,3.904930e+09,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,...,3770.000000,1912.500000,1910.000000,5.500000,0.247664,1.158100e+04,0.000000,0.000000,0.000000,11.000000
75%,7.308900e+09,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,...,4870.000000,2552.500000,2550.000000,6.500000,0.407547,1.544900e+04,0.000000,0.000000,0.000000,12.000000
max,9.900000e+09,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,...,18390.000000,13548.000000,13544.000000,34.750000,4.653846,1.653959e+06,1.000000,1.000000,4.000000,17.000000

## 이상치 대체 하기

In [ ]:
def replace_outliers_with_median(df):
    variables = list(df.columns.values)
    for variable in variables:
        median_value = df[variable].median()
        std_value = df[variable].std()
        outliers = (df[variable] - median_value).abs() > 3 * std_value
        df.loc[outliers, variable] = median_value
    return df

In [ ]:
housing_prepared_outliers = replace_outliers_with_median(housing_prepared)

In [ ]:
housing_prepared_outliers.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_living_sum_sqft_living15,sqft_living_sum_sqft_bathrooms,sqft_living_sum_sqft_view,total_rooms,living_to_lot_ratio,total_area,renovated,high_priced_area,view_quality,overall_condition
count,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.0,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.0,21613.0,21613.0,21613.000000
mean,4.580302e+09,3.320455,2.102219,2027.925739,10808.700088,1.493569,0.0,0.104474,3.254800,7.559432,...,3979.402721,2030.018854,2028.141396,5.452876,0.290912,14915.071068,0.0,0.0,0.0,11.034239
std,2.876566e+09,0.822553,0.740520,805.226772,13376.778166,0.538608,0.0,0.427412,0.453655,1.036912,...,1337.822014,805.757426,805.401182,1.393677,0.196780,13841.137852,0.0,0.0,0.0,1.161028
min,1.000102e+06,1.000000,0.000000,290.000000,520.000000,1.000000,0.0,0.000000,2.000000,4.000000,...,1240.000000,290.000000,290.000000,1.500000,0.000610,2013.000000,0.0,0.0,0.0,8.000000
25%,2.123049e+09,3.000000,1.750000,1427.000000,5040.000000,1.000000,0.0,0.000000,3.000000,7.000000,...,2960.000000,1429.500000,1427.000000,4.500000,0.156581,8800.000000,0.0,0.0,0.0,10.000000
50%,3.904930e+09,3.000000,2.250000,1910.000000,7618.000000,1.500000,0.0,0.000000,3.000000,7.000000,...,3770.000000,1912.500000,1910.000000,5.500000,0.247664,11581.000000,0.0,0.0,0.0,11.000000
75%,7.308900e+09,4.000000,2.500000,2500.000000,10315.000000,2.000000,0.0,0.000000,4.000000,8.000000,...,4780.000000,2503.000000,2500.000000,6.500000,0.378667,15008.000000,0.0,0.0,0.0,12.000000
max,9.900000e+09,5.000000,4.500000,4660.000000,131790.000000,3.000000,0.0,2.000000,4.000000,10.000000,...,8280.000000,4664.250000,4664.000000,9.750000,1.052353,136730.000000,0.0,0.0,0.0,14.000000

In [ ]:
def display_scores(scores):
    print('Scores:', scores)
    print('Mean:', scores.mean())
    print('Standard deviation:', scores.std())

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
from lightgbm import LGBMRegressor

lgbm = LGBMRegressor(    max_depth=10,  # Adjust max_depth based on your preference
    min_data_in_leaf=29,
    feature_fraction=1.0,
    n_estimators=150,
    bagging_fraction=0.1,
    min_gain_to_split=1,
    learning_rate=0.1,
    num_leaves=84,  # Set num_leaves based on your preference
    random_state=50,
    force_col_wise=True
)
score = cross_val_score(lgbm, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv = 10)
rmse_scores = np.sqrt(-score)

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [ ]:
display_scores(rmse_scores)

# 10-CV Result
## Mean: 0.5343614889887662

In [ ]:
housing_prepared.shape

(21613, 34)